.WeatherApp{
    height: 100%;
    text-align: center;
    background-image:url("https://images.unsplash.com/photo-1667878331782-4d4b8486c266?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8YmlyZHMlMjBmbHlpbmclMjBpbiUyMHRoZSUyMHNreXxlbnwwfHwwfHx8MA%3D%3D");
    color: black;
    padding: 10px;
    margin-top: 20px;
}
